SALT_ROUNDS = 10
PASSWORD_PEPPER = 12345



DATABASE_URL=postgresql://postgres:123456@localhost:5433/postgres?schema=auth
AMQP_URI=amqp://guest:guest@localhost:5672

NODE_ENV="development"|"production"



#HTTP server
SERVICE_NAME="Example microservice"
API_PREFIX="api"
API_VERSION="1.0.0"
PORT=5002
HOST ='http://localhost'
CORS ='http://localhost:3000'

#REDIS
REDIS_HOST="127.0.0.1"
REDIS_PORT=6379
REDIS_PASSWORD=undefined
REDIS_DB=0

#
JWT_SECRET = 12345
JWT_EXPIRES='7d'
JWT_REFRESH_EXPIRES='7d'
JWT_REFRESH_SECRET=123456789

#GRPC
USER_GRPC='localhost:50053'