NODE_ENV="development"|"production"

#HTTP-server
PORT = 4000
HOST = 'http://localhost:4000'
CORS = 'http://localhost:3000'

#Swagger OPTIONAL
PROJECT_NAME="Default"
PROJECT_VERSION="1.0.0"

#gRPC Clients
AUTH_GRPC_URL='localhost:50051'